@using BTG.Models.ExercisePlanModels
@model IEnumerable<PlanListItem>


@{
    ViewData["Title"] = "Index";
}

<h1>Exercise Plans</h1>

<p>
    <a asp-action="Create">Create New Plan</a>
</p>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                    </td>
                  
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })

                        @*@Html.ActionLink("Details", "Details", new { id = item.LastName }) |*@
                        @*<a href="Details/@item.LastName"> Details </a> |*@

                        @*@Html.ActionLink("Delete", "Delete", new { id = item.LastName })*@
                    </td>
                </tr>
            }


        </tbody>
    </table>
}
else
{
    <h1>Sorry there are no plans available.</h1>

}