@using Models.ClientModels
@model IEnumerable<ClientListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Clients</h1>

<p>
    <a asp-action="Create">Add New Client</a>
</p>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                       

                        @Html.ActionLink("Details", "Details", new { id = item.LastName })
                     

                        
                    </td>
                </tr>
            }


        </tbody>
    </table>
}
else
{
    <h1>Sorry there are no clients.</h1>

}